/* HTMLS */

body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Exo 2', sans-serif;
}

.main-content {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-header {
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-left: -220px;
    margin-right: 75px;
}

.header-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-section {
    margin-left: 50px;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.header-section:hover {
    transform: translateY(-3px);
    color: #FFD700;
}

/* DONATES */

.donates-title {
    text-align: center;
    margin-top: 35px;
    color: black;
    font-weight: 900;
    font-size: 38px;
}

.donate-bubbles-name {
    color: #8a2be2;
    font-weight: 900;
}

.donates-permission {
    margin-top: 25px;
    color: black;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-bottom: 35px;
}

/* CHIMERA */

.donate-chimera-name {
    color: #ad0000;
    font-weight: 900;
}

/* ROLEX */

.donate-rolex-name {
    color: #c7ca00;
    font-weight: 900;
}

/* LEGEND */

.donate-legend-name {
    color: #00c3ff;
    font-weight: 900;
}

/* TERNES */

.donate-ternes-name {
    color: #135f00;
    font-weight: 900;
}

/* STAR */

.donate-star-name {
    color: #00ffff;
    font-weight: 900;
}

/* BUBBLE */

.donate-bubble-name {
    color: #b700ff;
    font-weight: 900;
}

/* MASTER */

.donate-master-name {
    color: #ff0000;
    font-weight: 900;
}

/* CUBE */

.donate-cube-name {
    color: #919191;
    font-weight: 900;
}

/* FOOTER */

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icon i {
    margin-right: 5px;
}

.social-icon:hover {
    transform: translateY(-5px);
    color: #8a2be2;
}

.copyright {
    font-size: 14px;
    color: #777;
    margin-top: 15px;
    transition: color 0.3s;
}

.copyright:hover {
    color: #8a2be2;
}

.studio-credit {
    font-size: 14px;
    color: #ccc;
    margin-top: 7px;
    transition: transform 0.3s, color 0.3s;
}

.studio-credit a {
    color: #ccc;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.studio-credit a:hover {
    transform: translateY(-5px);
    color: #8a2be2;
}